# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# Virtualenv
**/myTidyVEnv/

# Migrations (optional: keep if you want to track them)
# **/migrations/

# VSCode settings (optional, if using VSCode)
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
**/*.log

# Env general
**/.env
**/.env.*
